* {
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif;
}

* {
  text-decoration: none;
}
.topo-pagina {
  display: inline;
  margin: 20px;
  width: 8%;
  padding-top: 20px;
}

.botoes-navegacao {
  position: relative;
  text-align: right;
  margin: 100px;
  top: -190px;
}

.barra-sobre-mim {
  position: relative;
  width: 50%;
  position: relative;
  top: -200px;
  left: 270px;
  right: 100px;
  bottom: 100px;
  
}

.rodape{
    display: inline;
    position: relative;
    width: 90%;
    position: relative;
    top: 110px;
    left: 36px;
    right: 100px;
    bottom: 300px;

}