* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.containerAll {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  min-height: 100vh;
}

.topPage {
  background-color: black;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  gap: 5px;
}
.busca {
  width: 350px;
  height: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

h3 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 5px;
}
.play {
  width: 35px;
  height: 35px;
  margin-left: 15px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
.card {
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
  
}

.foot {
  display: flex;
  background-color: black;
  grid-column: 1 / -1;
  align-items: center;
  justify-content: center;
}
